<div id="<%= dom_id book_new %>">
  <p>
    <strong>Title:</strong>
    <%= book_new.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book_new.author %>
  </p>

  <p>
    <strong>Publisher:</strong>
    <%= book_new.publisher %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= book_new.year %>
  </p>

  <p>
    <strong>Borrowed at:</strong>
    <%= book_new.borrowed_at %>
  </p>

  <p>
    <strong>Available:</strong>
    <%= book_new.available %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= book_new.subject_id %>
  </p>

</div>
