<%= form_with(model: book) do |form| %>
<% if book.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% book.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :Title, class: label_class %>
          <%= form.text_field :Title, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :Author, class: label_class %>
          <%= form.text_field :Author, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :Publisher, class: label_class %>
          <%= form.text_field :Publisher, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :Year, class: label_class %>
          <%= form.number_field :Year, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if book.persisted? %>
<%= link_to "Cancel", book, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", books_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
